.box{
    display:contents ;
}
.main{
    display: block;
    margin: auto;
    justify-content: center;
    width: 30.625rem;
}

header{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

#email , #passwords, #names, #confirm_email{
    display: block;
    width: 500px;
    height: 40px;
    font-size: 17px;

}
#date_of_birth{
    width: 136px;
    height: 40px;
    font-size: 17px;
}

select{
    width: 193px !important;
    height: 45px !important;
}
p{
    text-align: center;
    font-size: 15px;
}

#sing_up{
    display: block;
    margin: auto;
    width: 300px;
    height: 50px;
    border-radius: 60px;
    background-color: rgb(87, 210, 87);
    font-size: 20px;
    font-weight: bolder;
    color: aliceblue;
    border-color: non;
    border: solid;
}