table,
th,
td {
    
    border-bottom: solid rgb(221, 214, 214);
    
    border-collapse: collapse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(40% + 0.8vmin);
    border-width: 0.5px 0px 0.5px 1.5px;
}

tr{
    text-align:center ;
}
.Padding{
    display: block;
    margin: auto;
    width: 40rem;
    border: solid white;
    
    
}