.main{
    display:block;
    margin: auto;
    width: auto;
    height: auto;
}

#picture{
    height: 31.25rem;
    padding: 2.5%;
}
@media (max-width: 394px) {
    #picture{
        width: 95%;
    }
}
