*{
    box-sizing: border-box;
}

.box{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
}
.grid div{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.btn-0, .btn-2,.btn-6,.btn-8{
    border-width: 0px 0px 1px 0px;
    
}